/* p{
    font-size: xx-large;
    font-weight: bolder;
} */

h1 {
    padding: 20px;
    border: 20px solid green;
    margin: 20px;
}

video {
    height: auto;
    width: 100%;
}


#p1 {
    font-weight: 600;
    font-style: italic;
}

#p2 {
    font-style: italic;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: none;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: aliceblue;
}

button {
    background-color: beige;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}

button:hover {
    background-color: brown;
}

h1:hover {
    color: blue;
}

form {
    height: 500px;
    width: 25%;
    background-color: gray;
    padding: 50px;
    border-radius: 100px;
}

#one {
    /* grid-row: 1/2; */
    background-color: aqua;
    height: 50px;
}

#two {
    /* grid-row: 1/2; */
    background-color: beige;
}

#three {
    /* grid-row: 1/2; */
    background-color: rgb(76, 53, 23);
}

#four {
    /* grid-row: 2/3; */
    background-color: blue;
    height: 50px;
}

#five {
    /* grid-row: 2/3; */
    background-color: blueviolet;
}

#six {
    /* grid-row: 2/3; */
    background-color: yellow;
}

.festivals {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Desktop */
img {
    height: 500px;
    width: 500px;
    background-color: rgb(95, 26, 78);
    padding: 100px;
}

nav {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

/*Desktop*/
@media (min-width: 1024px) {
    nav {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}